// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Lato:300,400,600,800|Montserrat:300,400,600,800");

// Define fonts for body and headers
$body-font: "Lato", "Helvetica", sans-serif;
$headers-font: "Montserrat", "Helvetica", sans-serif;